html {
  --bg: #ffffff;
  --bg-panel: #ebebeb;
  --color-headings: #ffb900;
  --color-text: #585858;
  --min-logo: url("../assets/min.png");
  --cls-logo: url("../assets/close.png");
  --reset-logo: url("../assets/reset-black.png");
  --swap-logo: url("../assets/swap.png");
}

html[data-theme="dark"] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-text: #e5e5e5;
  --color-headings: #00b6ff;
  --min-logo: url("../assets/min-white.png");
  --cls-logo: url("../assets/close-white.png");
  --reset-logo: url("../assets/reset-white.png");
  --swap-logo: url("../assets/swap-white.png");
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: var(--bg);
  font-family: "Patrick Hand", cursive;
  overflow: hidden;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

input:checked + #set {
  background: var(--color-headings);
}

input:checked + #set:after {
  left: calc(100% - 5px);
  transform: translateX(-90%);
}

#set:active:after {
  width: 30px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 200ms !important;
  transition-delay: 0ms !important;
}

.title-bar {
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-app-region: drag;
  background-color: var(--bg-panel);
  padding: 10px 20px;
  position: -webkit-fixed;
  position: fixed;
  backdrop-filter: blur(20px) saturate(2);
}

#app-controls {
  width: 13%;
  display: flex;
  flex-direction: row;
}

.app-container {
  height: 100%;
  width: 100%;
  background-color: var(--bg);
  border-color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#set {
  background-color: var(--color-headings);
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  text-indent: -9999px;
  width: 48px;
  height: 26px;
  background: #ffb600;
  float: right;
  border-radius: 100px;
  position: relative;
  user-select: none;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

#set:after {
  background-color: var(--color-headings);
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #00ffbd;
  border-radius: 100px;
  transition: 0.3s;
}

#app-logo {
  float: left;
  height: 35px;
  width: 35px;
  -webkit-app-region: no-drag;
}

#app-title {
  color: var(--color-text);
  padding-left: 2px;
  margin-bottom: 5px;
  font-size: 2.7vh;
  user-select: none;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

#min {
  background-image: var(--min-logo);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 30px;
  width: 30px;
  user-select: none;
  float: right;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--bg);
}

#cls {
  background-image: var(--cls-logo);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin: 5px;
  height: 30px;
  width: 30px;
  float: right;
  user-select: none;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgba(255, 12, 12, 0.6);
}

/* .grid-container-a {
  color: var(--color-text);
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px;
  grid-template-rows: auto;
  font-weight: bold;
  font-size: 2vh;
  margin-left: 13.5vw;
  margin-top: 8vh;
  position: static;
  user-select: none;
  -webkit-app-region: no-drag;
}

.grid-container-1 {
  color: var(--color-text);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px;
  text-align: center;
  font-weight: bold;
  float: left;
  margin-left: 8vw;
  margin-top: 6.1vh;
  font-size: 2.2vh;
  position: relative;
  user-select: none;
}
*/

#credit {
  display: inline-block;
  position: absolute;
  top: 93vh;
  left: 40vw;
  user-select: none;
  -webkit-user-select: none;
}

#credit p {
  text-align: center;
  font-size: 1.2em;
  color: var(--color-text);
}

#FenInDiv {
  margin-bottom: 50px;
}

#fenIn {
  width: 480px;
  font-size: 1.2rem;
  padding: 5px 20px;
  border: none;
  outline: none;
  border-radius: 7px;
  font-family: "Patrick Hand", cursive;
  background-color: var(--bg-panel);
  color: var(--color-text);
}

#SetFen {
  margin-left: 7px;
  font-size: 1rem;
  padding: 8px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--bg);
  background-color: hsl(0, 100%, 60%);
}

#LoadingBook {
  left: 600px;
}

#app-view {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#app-stats {
  display: flex;
  flex-direction: column;
}

#Board {
  position: relative;
  left: 20px;
  width: 480px;
  height: 480px;
  border: 2px solid var(--color-text);
}

#EngineOutput {
  font-size: 1.2rem;
  color: var(--color-text);
  padding: 10px 20px;
  margin-left: 100px;
  border-radius: 20px;
  width: 350px;
  background-color: var(--bg-panel);
}

#thinking {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

#ThinkingImageDiv {
  height: 40px;
  margin-bottom: 10px;
}

#ThinkingPng {
  width: 40px;
  height: 40px;
}

#ThinkTimeChoice {
  height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  outline: none;
  padding: 2px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Patrick Hand", cursive;
  border-radius: 5px;
  color: var(--color-text);
  background-color: var(--bg);
}

.game-buttons {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
}

.game-buttons > button {
  font-family: "Patrick Hand", cursive;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--bg);
  cursor: pointer;
}

#NewGameButton {
  background-color: rgba(0, 172, 106, 0.7);
}

#FlipButton {
  background-color: rgba(70, 114, 196, 0.7);
}

#SearchButton {
  background-color: royalblue;
}

#TakeButton {
  background-color: rgba(255, 12, 12, 0.7);
}

#CurrentFenDiv {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#current-fen-title {
  font-size: 1.2rem;
  color: var(--color-text);
}

#currentFenSpan {
  padding: 10px 20px;
  background-color: var(--bg-panel);
  font-size: 1.5rem;
  border-radius: 10px;
  color: var(--color-text);
}

.Piece {
  position: absolute;
  height: 30px;
  width: 30px;
  margin: 15px;
  cursor: pointer;
}

.Square {
  position: absolute;
  width: 60px;
  height: 60px;
}

/* .Light {
  background-color: #5fbcd3;
}

.Dark {
  background-color: #afdde9;
} */

.SqSelected {
  background-color: rgba(1, 1, 1, 0.5);
}

.clickElement {
  cursor: pointer;
}

.rank1 {
  top: 420px;
}
.rank2 {
  top: 360px;
}
.rank3 {
  top: 300px;
}
.rank4 {
  top: 240px;
}
.rank5 {
  top: 180px;
}
.rank6 {
  top: 120px;
}
.rank7 {
  top: 60px;
}
.rank8 {
  top: 0px;
}

.file1 {
  left: 0px;
}
.file2 {
  left: 60px;
}
.file3 {
  left: 120px;
}
.file4 {
  left: 180px;
}
.file5 {
  left: 240px;
}
.file6 {
  left: 300px;
}
.file7 {
  left: 360px;
}
.file8 {
  left: 420px;
}

.rank8flip {
  top: 420px;
}
.rank7flip {
  top: 360px;
}
.rank6flip {
  top: 300px;
}
.rank5flip {
  top: 240px;
}
.rank4flip {
  top: 180px;
}
.rank3flip {
  top: 120px;
}
.rank2flip {
  top: 60px;
}
.rank1flip {
  top: 0px;
}

.file8flip {
  left: 0px;
}
.file7flip {
  left: 60px;
}
.file6flip {
  left: 120px;
}
.file5flip {
  left: 180px;
}
.file4flip {
  left: 240px;
}
.file3flip {
  left: 300px;
}
.file2flip {
  left: 360px;
}
.file1flip {
  left: 420px;
}
