html{
  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
	--color-headings: #FFB900;
	--color-text: #585858;
  --min-logo: url('../assets/min.png');
	--cls-logo: url('../assets/close.png');
  --reset-logo: url('../assets/reset-black.png');
  --swap-logo: url('../assets/swap.png');
}

html[data-theme='dark'] {
  --bg: #333333;
	--bg-panel: #434343;
	--color-text: #E5E5E5;
  --color-headings: #00B6FF;
  --min-logo: url('../assets/min-white.png');
	--cls-logo: url('../assets/close-white.png');
  --reset-logo: url('../assets/reset-white.png');
  --swap-logo: url('../assets/swap-white.png');
}

body {
	background: var(--bg);
  font-family: 'Patrick Hand', cursive;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

input:checked + #set {
	background: var(--color-headings);
}

input:checked + #set:after {
	left: calc(100% - 5px);
	transform: translateX(-90%);
}

#set:active:after {
	width: 30px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 200ms !important;
  transition-delay: 0ms !important;
}

.app__container{
  background-color: var(--bg-panel);
  border-color: var(--color-text);
}

#set{
	background-color: var(--color-headings);
	margin-top: 7px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	text-indent: -9999px;
	width: 48px;
	height: 26px;
	background: #FFB600;
	float: right;
	border-radius: 100px;
	position: relative;
  user-select: none;
	-webkit-app-region: no-drag;
	-webkit-user-select: none;
}

#set:after{
	background-color: var(--color-headings);
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #00FFBD;
	border-radius: 100px;
	transition: 0.3s;
}

#logo{
	background-color: var(--bg);
	float: left;
  padding-top: 3px;
  margin-left: 10px;
	height: 35px;
	width: 35px;
	-webkit-app-region: no-drag;
}

#app__title{
	color: var(--color-text);
  padding-left: 2px;
	margin-bottom: 5px;
	font-size: 2.7vh;
  user-select: none;
	-webkit-app-region: drag;
  -webkit-user-select: none;
}

#reset{
  background-image: var(--reset-logo);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  margin-top: 10vh;
  margin-bottom: 2vh;
	height: 30px;
	width: 50px;
  float:right;
	-webkit-app-region: no-drag;
  user-select: none;
	-webkit-user-select: none;
}

#reset_info{
  color: var(--color-text);
  letter-spacing: 1px;
  margin-top: 9.8vh;
  margin-right: 8em;
  margin-bottom: 10px;
  margin-left: 5px;
  height: 30px;
  float:right;
  font-size: 2.3vh;
	-webkit-app-region: no-drag;
  user-select: none;
	-webkit-user-select: none;
}

#change{
  background-image: var(--swap-logo);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  margin-top: 10vh;
  margin-bottom: 2vh;
	height: 30px;
	width: 50px;
  float:right;
	-webkit-app-region: no-drag;
  user-select: none;
	-webkit-user-select: none;
}

#change_info{
  color: var(--color-text);
  letter-spacing: 1px;
  margin-top: 9.8vh;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  height: 30px;
  float:right;
  font-size: 2.3vh;
	-webkit-app-region: no-drag;
  user-select: none;
	-webkit-user-select: none;
}

#min{
  background-image: var(--min-logo);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	height: 30px;
	width: 30px;
  user-select: none;
	float: right;
	-webkit-app-region: no-drag;
	-webkit-user-select: none;
}

#cls{
  background-image: var(--cls-logo);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	height: 30px;
	width: 30px;
	float: right;
  user-select: none;
	-webkit-app-region: no-drag;
	-webkit-user-select: none;
}

#title__bar{
  -webkit-app-region: drag;
	background-color: var(--bg);
	padding: 5px;
	position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.grid-container-a {
  color: var(--color-text);
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px;
  grid-template-rows: auto;
  font-weight: bold;
  font-size: 2vh;
  margin-left: 13.5vw;
  margin-top: 8vh;
  position: static;
  user-select: none;
}

.grid-container-1{
  color: var(--color-text);
  display: grid;
  grid-template-columns:auto;
  grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px ;
  text-align: center;
  font-weight: bold;
  float: left;
  margin-left: 8vw;
  margin-top: 6.1vh;
  font-size: 2.2vh;
  position: relative;
  user-select: none;
}

#table{
  position: absolute;
  top: 19vh;
  left: 13vw;
  width: 650px;
  height: 650px;
  border: 4px solid var(--color-text);
  text-align: center;
  align-items: center;
  justify-items: center;
  padding-top: 8px;
}

.row{
  display: inline-block;
}

.column{
  width: 75px;
  height: 75px;
  float: left;
  margin : -1px 2px;
}

.column.selected{
  background: yellow;
}

.column.cango{
  background: orange;
}

.piece{
  cursor: pointer;
  text-align: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 8px;
  margin-top: 15px;
  background: transparent;
  justify-content: center;
  user-select: none;
}

.piece.bishop.black {
	content: url('../assets/pieces/bishop.png');
}
.piece.king.black {
  content: url('../assets/pieces/king.png');
}
.piece.knight.black {
	content: url('../assets/pieces/knight.png');
}
.piece.pawn.black {
  content: url('../assets/pieces/pawn.png');
}
.piece.queen.black {
  content: url('../assets/pieces/queen.png');
}
.piece.rook.black {
  content: url('../assets/pieces/rook.png');
}
/* White */
.piece.bishop.white {
  content: url('../assets/pieces/bishop-white.png');
}
.piece.king.white {
  content: url('../assets/pieces/king-white.png');
}
.piece.knight.white {
  content: url('../assets/pieces/knight-white.png');
}
.piece.pawn.white {
  content: url('../assets/pieces/pawn-white.png');
}
.piece.queen.white {
  content: url('../assets/pieces/queen-white.png');
}
.piece.rook.white {
  content: url('../assets/pieces/rook-white.png');
}

#position{
  position: absolute;
  color: var(--color-text);
  top: 20vh;
  left: 60vw;
  background-color: var(--bg-panel);
  border: none;
  border-radius: 10px;
  float: right;
  margin-top: 8px;
  margin-left: 80px;
  margin-right: 8vw;
  overflow-y:visible;
  overflow-x: hidden;
  resize: none;
  padding: 10px;
  height: 600px;
  width: 25vw;
  text-align: center;
  font-weight: bold;
  font-size: 2.2vh;
  line-height: 1.2vh;
}
