html{
  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
	--color-headings: #FFB900;
	--color-text: #585858;
  --min-logo: url('../assets/min.png');
	--cls-logo: url('../assets/close.png');
  --reset-logo: url('../assets/reset-black.png');
}

html[data-theme='dark'] {
  --bg: #333333;
	--bg-panel: #434343;
	--color-text: #E5E5E5;
  --color-headings: #00B6FF;
  --min-logo: url('../assets/min-white.png');
	--cls-logo: url('../assets/close-white.png');
  --reset-logo: url('../assets/reset-white.png');
}

body {
	background: var(--bg);
  font-family: 'Lacquer', sans-serif;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

input:checked + #set {
	background: var(--color-headings);
}

input:checked + #set:after {
	left: calc(100% - 5px);
	transform: translateX(-90%);
}

#set:active:after {
	width: 30px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 200ms !important;
  transition-delay: 0ms !important;
}

.app__container{
  background-color: var(--bg-panel);
  border-color: var(--color-text);
}

#set{
	background-color: var(--color-headings);
	margin-top: 7px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	text-indent: -9999px;
	width: 48px;
	height: 26px;
	background: #FFB600;
	float: right;
	border-radius: 100px;
	position: relative;
	-webkit-app-region: no-drag;
	-webkit-user-select: none;
}

#set:after{
	background-color: var(--color-headings);
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #00FFBD;
	border-radius: 100px;
	transition: 0.3s;
}

#logo{
	background-color: var(--bg);
	float: left;
  padding-top: 3px;
  margin-left: 10px;
	height: 35px;
	width: 35px;
	-webkit-app-region: no-drag;
	-webkit-user-select: none;
}

#app__title{
	color: var(--color-text);
  padding-left: 2px;
	margin-bottom: 5px;
	font-size: 2.7vh;
	-webkit-app-region: drag;
}

#reset{
  background-image: var(--reset-logo);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
	height: 30px;
	width: 50px;
  float:right;
	-webkit-app-region: no-drag;
	-webkit-user-select: none;
}

#reset_info{
  color: var(--color-text);
  margin-top: 95px;
	margin-right: 190px;
  margin-bottom: 10px;
  height: 30px;
  float:right;
  font-size: 2.3vh;
	-webkit-app-region: no-drag;
	-webkit-user-select: none;
}

#min{
  background-image: var(--min-logo);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	height: 30px;
	width: 30px;
	float: right;
	-webkit-app-region: no-drag;
	-webkit-user-select: none;
}

#cls{
  background-image: var(--cls-logo);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	height: 30px;
	width: 30px;
	float: right;
	-webkit-app-region: no-drag;
	-webkit-user-select: none;
}

#title__bar{
  -webkit-app-region: drag;
	background-color: var(--bg);
	padding: 5px;
	position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.grid-container-a {
  color: var(--color-text);
  display: grid;
  grid-template-columns: 81px 81px 81px 81px 81px 81px 81px 81px;
  grid-template-rows: auto;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2vh;
  margin-right: 350px;
  margin-top: 40px;
  position: relative;
}

.grid-container-1{
  color: var(--color-text);
  display: grid;
  grid-template-columns:auto;
  grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px;
  text-align: center;
  font-weight: bold;
  float: left;
  margin-left: 60px;
  margin-top: 65px;
  font-size: 2.2vh;
  position: relative;
}

.chessBoard {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  display: inline-block;
  border: 4px solid var(--color-text);
  float: left;
  grid-column: auto;
  position: relative;
}

.chessBoard tr {
  line-height: 1px;
}

.chessBoard td {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: snow;
  opacity:1;
  font-size: 20px;
  color: var(--color-text);
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
}

.chessBoard:hover td{
  transform: scale(0.97);
}

.chessBoard:hover td:hover{
  transform:scale(1);
}

#position{
  color: var(--color-text);
  background-color: var(--bg-panel);
  border: none;
  border-radius: 10px;
  float: right;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 80px;
  overflow-y:visible;
  overflow-x: hidden;
  resize: none;
  padding: 10px;
  height: 60vh;
  width: 30vh;
  text-align: center;
  font-weight: bold;
  font-size: 2vh;
  line-height: 8px;
}
